.work-experience .jobs {
    display: flex;
    gap: 30px;
}

@media (max-width: 1024px) {
    .work-experience .jobs {
        flex-direction: column;
    }
}

.work-experience .jobs article {
    background-color: orange;
    padding: 20px;
    border-radius: 30px;
    flex: 1;
}

.work-experience .jobs article h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.work-experience .jobs article div {
    font-weight: 600;
    margin-bottom: 5px;
    color: pink;
}

.work-experience .jobs article p {
    margin-bottom: 10px;
}

.work-experience .jobs article figure {
    width: 90%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.work-experience .jobs article figure img {
    position: absolute;
    margin-left: -90px;
    top: 0;
    left: 0;
    height: 120%;
    width: 120%;
    object-fit: cover;
    transition: transform 1.5s ease;
}

.work-experience .jobs article figure figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: blueviolet;
    text-align: center;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.work-experience .jobs article figure:hover figcaption {
    opacity: 1;
    visibility: visible;
}

.work-experience .jobs article figure:hover img {
    transform: scale(1.2);
}
